<!--

Correo (correo de la persona de la publicaicon)
Nombre (nombre del publicacion)
Tipo (adopcion o perdido)
Descripcion (texto de la publicacion)
Latitud (para el gps)
Longitud (para el gps)
Foto (una por publicacion segun el prototipo)

-->
<template>
  <div class="q-pa-md" id="adminPanel" style="display:none">
    <h1>
      Panel de Administrador
    </h1>
    <div>
      <h3>
        Gestionar usuarios
      </h3>
      <q-btn to="/Perfiles" color="positive" label="Gestionar" />
      <h3>
        Gestionar publicaciones
      </h3>
      <q-btn to="/VerPublicaciones" color="positive" label="Gestionar" />
    </div>
    <div>

    </div>
  </div>
</template>

<script>
import { api } from "boot/axios";
import { dba } from "boot/firebase";
import "firebase/storage";
import firebase from "firebase";
import uuid from "uuid/v4";

export default {
  data() {
    return {};
  },
  created() {
    this.revisarAdmin();
  },
  methods: {
    /** @vuese
     * Verifica que el usuario actual tenga la propiedad de administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws nada
     */
    revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email;
      console.log(this.Correo);
      this.verificarAdmin();
    },
    /** @vuese
     * Verifica que el usuario actual cumpla con los requisitros para ejecutar opciones de administrador
     * Redirige al usuario en caso de que no sea administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws alerta en caso de no ser adminstrador
     */
    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach(res => {
          console.log(res.data());
          if (!res.data().admin) {
            this.$router.push("/VerPublicaciones");
          }
          document.getElementById("adminPanel").style.display = "block";
        });
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>


<style>
  @media screen and (max-width: 1025px) {
    #adminPanel {
      visibility: hidden;
    }
  }
</style>
