<template>
  <div>
    
    <div class="q-pa-md">
      <h2>Busqueda de animales</h2>
            <q-input v-model="search" filled type="search" hint="Search">
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
            <q-radio v-model="Tipo" val="Adopción" label="Adopción" />
      <q-radio v-model="Tipo" val="Perdido" label="Perdido" />
      <div class="float-right">
      <q-btn float-right label="Buscar" @click="listarAnimales()"  type="Buscar" color="primary" />
      </div>
      <q-carousel
        arrows
        animated
        v-model="slideone"
        height="400px"
      >

      
        <q-carousel-slide v-for="(pet, index) in animales" :key="index" :name="index" :img-src="pet.Foto">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">{{pet.Nombre}}</div>
            
            <div class="text-subtitle1">{{pet.Correo}}</div>
            <q-btn @click="$router.replace('/detallePublicacion/'+pet.id)" label="Ver más" outline color="info"/>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>

   

    
    
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="positive" />
    </q-page-sticky>
    
  </div>

</template>

<script>
import { api } from "boot/axios";
import { dba } from "boot/firebase";
import firebase from "firebase";
export default {
  data () {
    return {
      slideone: 0,
      slidestwo: 0,
      search : '',
      Tipo:'Adopción',
      animales: 
      []
    }
  },
  created() {
    this.listarAnimales();
  },
  methods: {
    loadData() {
      const data = {
        name: this.name,
        age: this.age,
        accept: this.accept,
      }
      this.getData()

    },

    /** @vuese
     * Lista a todos los animales segun el tipo
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error (como cuando no se logro cargar la informacion)
     */
    async listarAnimales(){
      try {
          console.log(this.search)
          const posteos = await dba.collection('posts')
          const adoptados = await posteos.where('Tipo','==',this.Tipo).get();
          if (adoptados.empty) {
            console.log('No matching documents.');
            return;
          }
          adoptados.forEach(doc => {
            console.log(doc.id, '=>', doc.data());
          });
          console.log(adoptados)
          this.animales=[];
          adoptados.forEach(res =>{
            console.log(res.id);
            const posts = {
              id: res.id,
              Nombre: res.data().Nombre ,   
              Descripcion:res.data().Descripcion, 
              Tipo: res.data().Tipo,
              Foto: res.data().Foto,
              Correo: res.data().Correo,
              Fecha: res.data().FechaPublicacion,
              Provincia: res.data().Provincia,

              }
              console.log(posts.id)
              console.log(posts.Descripcion)
              console.log(posts.Nombre)
              console.log('Provincia')
              console.log(posts.Provincia)
              if (posts.Descripcion.includes(this.search) || posts.Nombre.includes(this.search) || posts.Provincia.includes(this.search)) {
                this.animales.push(posts)  
              } else {
                
              }
              
          })


      }catch (error){
        console .log(error);
      }
    },
        
  }
}
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 10px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>

