<!-- 

Correo (correo de la persona de la publicaicon)
Nombre (nombre del publicacion)
Tipo (adopcion o perdido)
Descripcion (texto de la publicacion)
Latitud (para el gps)
Longitud (para el gps)
Foto (una por publicacion segun el prototipo)

-->
<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit="postData" @reset="onReset" class="q-gutter-md">
      <q-input filled v-model="Nombre" label="Nombre de mascota" hint="Puede ser largo o corto" lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type something']" />

      <q-input filled v-model="Correo" type="email" label="Correo*" hint="Correo" lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type something']" :disable="true" />
      <q-radio v-model="Tipo" val="Adopción" label="Adopción" />
      <q-radio v-model="Tipo" val="Perdido" label="Perdido" />

      <q-input filled v-model="Descripcion" label="Descripción" :rules="[val => (val && val.length > 0) || 'Please type something']" />
      <!--        <q-input filled v-model="Latitud" label="Latitud" />
        <q-input filled v-model="Longitud" label="Logintud" /> -->

      <q-select v-model="Provincia" :options="options" label="Provincia" :rules="[val => (val && val.length > 0) || 'Please type something']" />
      <div id="FotoFile">
      <q-input @input="
          val => {
            file = val[0];
          }
        "  v-model="Foto" filled type="file" hint="Foto para la publicación" />
      </div>
      <q-input filled type="number" v-model="Edad" label="Edad de la mascota *" lazy-rules :rules="[
          val => (val !== null && val !== '') || 'Please type your age',
          val => (val > 0 && val < 100) || 'Please type a real age'
        ]" />

      <q-radio v-model="Sexo" val="Masculino" label="Masculino" />
      <q-radio v-model="Sexo" val="Femenino" label="Femenino" />

      <div>
        <q-btn label="Enviar"  type="submit" color="primary" />
        <q-btn label="Resetear" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
  import {
    api
  } from "boot/axios";
  import {
    dba
  } from "boot/firebase";
  import 'firebase/storage'
  import firebase from "firebase";
  import uuid from 'uuid/v4'




  export default {
    data() {
      return {
        Nombre: null,
        Foto: null,
        Correo: null,
        Tipo: "Adopción",
        Provincia: null,
        Descripcion: null,
        Latitud: null,
        Longitud: null,
        Sexo: 'Masculino',
        Edad: null,
        Identificador : 'Default',
        options: [
          "San José",
          "Alajuela",
          "Cartago",
          "Heredia",
          "Guaanacaste",
          "Puntarenas",
          "Limón"
        ]
      };
    },
    created() {
      this.updateuserinfo();

    },
    methods: {
    /** @vuese
     * actualiza la sesion con la informacion del usuario
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error 
     */
      updateuserinfo() {
        var user = firebase.auth().currentUser;
        this.Correo = user.email;

        console.log(this.Correo);
      },
    /** @vuese
     * Limpia los datos del form
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error 
     */
      onReset() {
        this.name = null;
        this.age = null;
        this.accept = false;
        console.log(this.Foto)
      },


    /** @vuese
     * Valida la informacion y si es valida, ingresa la publicacion en la base de datos
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error 
     */
      async postData() {

        try {

          //get username
          const resDBusername = await dba.collection('InfoPersona').where('email','==',this.Correo).get()
          resDBusername.forEach(res =>{

              this.Identificador = res.data().Identificador   
              console.log(this.Identificador)
          })
          //get username
          const data = {
            Nombre: this.Nombre,
            Foto: "",
            Correo: this.Correo,
            Identificador: this.Identificador,
            Tipo: this.Tipo,
            Descripcion: this.Descripcion,
            Sexo: this.Sexo,
            Edad: this.Edad,
            Provincia: this.Provincia,
            FechadePublicacion: Date.now()
          };


          //upload process
          console.log(document.querySelector("input[type='file']"))
          // File or Blob named mountains.jpg
          async function uploadTaskPromise() {
          return new Promise(function(resolve, reject) {
          var file = document.querySelector("input[type='file']").files[0];
          var storageRef = firebase.storage().ref();
          //
          console.log(file)
          var metadata = {
            contentType: 'image/jpeg'
          };
          var uploadTask = storageRef.child('images/' + uuid()).put(file, metadata);

          // Listen for state changes, errors, and completion of the upload.
          uploadTask.on(firebase.storage.TaskEvent.STATE_CHANGED, // or 'state_changed'
            function (snapshot) {
              // Get task progress, including the number of bytes uploaded and the total number of bytes to be uploaded
              var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              console.log('Upload is ' + progress + '% done');
              switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED: // or 'paused'
                  console.log('Upload is paused');
                  break;
                case firebase.storage.TaskState.RUNNING: // or 'running'
                  console.log('Upload is running');
                  break;
              }
            },
            function error(error) {

              // A full list of error codes is available at
              // https://firebase.google.com/docs/storage/web/handle-errors
              switch (error.code) {
                case 'storage/unauthorized':
                  // User doesn't have permission to access the object
                  break;

                case 'storage/canceled':
                  // User canceled the upload
                  break;



                case 'storage/unknown':
                  // Unknown error occurred, inspect error.serverResponse
                  break;
              }
            },
            function complete() {
              // Upload completed successfully, now we can get the download URL
              uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                
                console.log('File available at', downloadURL);
                resolve(downloadURL)
              });
            });
            })
          }
          //upload process
          const storageUrl = await uploadTaskPromise();
          console.log('el texto es' + storageUrl);
          data.Foto=storageUrl;
          const res = await dba.collection("posts").add(data);
          const posturl = "/DetallePublicacion/" + res.id;
          console.log('Added document with ID: ', res.id);
          this.$router.push({
                path: posturl, 
                params: { ark: 'arkvalue' }, 
                query: { test: 'test' }
          }
          )


        } catch (error) {
          console.log(error);
        }
      },

    }
  };

</script>
