<template >
     <div class="q-pa-md" align="center">
       <q-card class="my-card" align="center" v-for="item in task" v-bind:key="item.Correo" >
        <img :src="item.Foto">
        
      <q-card-section>
        <div align="center" class="text-h6">{{item.Nombre}} </div>
      </q-card-section>


    <q-list class="shadow-2 rounded-borders" style="max-width: 250px; width: 100%;">
        <q-item>
          <q-item-section>Tipo:</q-item-section>
                <q-card-section class="q-pt-none">
                {{item.Tipo}}
                </q-card-section >
        </q-item>


        <q-separator inset="item" />       

      </q-list>

      <q-banner dense class="bg-dark text-white">
        {{item.Descripcion}}
      </q-banner>


      <q-card-actions align="center" >
        <q-btn color="primary" to="Contactar" >Contactar a la persona</q-btn>
        <q-btn flat @click="agregarinfo()">Pushear codigo</q-btn>

      </q-card-actions>
      
    </q-card>
    
    <div id="app">

    </div>
  </div>
  
</template>

<script>
import {dba} from "boot/firebase"
export default {
  props: ['postid'],
  data () {
    return {
      demopost :                 {
          Nombre: 'Andrei Leon Salas',
          Correo: 'andreileonsalas@gmail.com',
          Tipo: 'Adopcion',
          Descripcion: 'Un pequeno gato que necesita un hogar ipsum dolor sit a eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
          Latitud: 9.99999999,
          Longitud: 9.99999999,
          Foto: 'https://cdn.quasar.dev/img/mountains.jpg'
        },
      task: [
      ]
    }
  },
  created(){
    this.listarInfo();
  },
  methods: {
    async listarInfo(){
      try {
          console.log(this.postid)
          const resDB2 = await dba.collection('posts').doc('123').get()
          console.log(res =>{
            console.log(res.id);
          })
          const resDB = await dba.collection('posts').get()
          resDB.forEach(res =>{
            console.log(res.id);
            const posts = {
              id: res.id,
              Nombre: res.data().NombreMascota ,   
              Descripcion:res.data().Descripcion, 
              Ubicacion: res.data().Ubicacion,
              Tipo: res.data().Tipo,

              correo: res.data().correo,
              Fecha: res.data().FechaPublicacion,

              }
              this.task.push(posts)
          })


      }catch (error){
        console .log(error);
      }
    },
    async agregarinfo(){
      try {
          const resDB = await dba.collection('posts').doc('123').set(this.demopost)


      }catch (error){
        console .log(error);
      }
    },

  }
}

</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
