<template>
  <div class="q-pa-md" align="center">
    <q-card
      class="my-card"
      align="center"
      v-for="item in task"
      v-bind:key="item.Correo"
    >
      <img :src="item.Foto" />

      <q-card-section>
        <div align="center" class="text-h6">{{ item.Nombre }}</div>
      </q-card-section>

      <q-list
        class="shadow-2 rounded-borders"
        style="max-width: 250px; width: 100%;"
      >
        <q-item>
          <q-card-section class="">
            Tipo de publicación: {{ item.Tipo }}
          </q-card-section>
        </q-item>


        <q-item>
          <q-card-section class="">
            Sexo: {{ item.Sexo }}
          </q-card-section>
        </q-item>

        <q-item>
          <q-card-section class="">
            Edad: {{ item.Edad }}
          </q-card-section>
        </q-item>
        <q-item>

          <q-card-section class="q-pt-none">
            Fecha de publicación: <br> {{ item.FechadePublicacion }}
          </q-card-section>
        </q-item>
                <q-item>

          <q-card-section class="q-pt-none">
            Provincia:{{ item.Provincia }}
          </q-card-section>
        </q-item>

                
                <q-item>

          <q-card-section class="q-pt-none">
            Usuario: {{ item.Identificador }}
          </q-card-section>
        </q-item>

      </q-list>
        <h4> Descripción </h4>
      <q-banner dense class="bg-dark text-white">
        {{ item.Descripcion }}
      </q-banner>

      <q-card-actions align="center">
        <q-btn color="primary" @click="gotopage(item)">Contactar a la persona {{item.Correo}}</q-btn>
      </q-card-actions>
      <q-card-actions ref="deleteButtonRefs" style="display: none;" align="center">
        <q-btn color="secondary" @click="$router.replace('/editarPublicacion/'+ postid)">Editar publicacion</q-btn>
        <q-btn color="red"  @click=" deletee(postid)">Eliminar publicacion</q-btn>
      </q-card-actions>
    </q-card>
    


    <div id="app"></div>
  </div>
</template>

<script>
import { dba } from "../boot/firebase";
import firebase from "firebase";
export default {
  props: ["postid"],
  data() {
    return {
      task: []
    };
  },
  created() {
    this.listarInfo();
  },
  updated(){
    this.revisarAdmin();
  },
  
  methods: {
    /** @vuese
     * Muestra la informacion de la publicacion, aunque no recibe como parametro postid, si depende de que exista en las propiedades
     * 
     * 
     * @param no
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error 
     */
    async listarInfo() {
      try {
        // console.log(this.postid);
        const resDB = await dba
          .collection("posts")
          .doc(this.postid)
          .get();
        console.log(resDB.data());
        var date = new Date(resDB.data().FechadePublicacion);
        const posts = {
          Nombre: resDB.data().Nombre,
          Foto: resDB.data().Foto,
          Correo: resDB.data().Correo,
          Tipo: resDB.data().Tipo,
          Descripcion: resDB.data().Descripcion,
          Sexo: resDB.data().Sexo,
          Edad: resDB.data().Edad,
          FechadePublicacion: date,
          Provincia: resDB.data().Provincia,
          Identificador: resDB.data().Identificador
        };
        this.task.push(posts);
      } catch (error) {
        console.log(error);
      }
    },    /** @vuese
     * Viaja a una pagina web, o en su efecto, al cliente de correo electronico
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error 
     */
    gotopage(item){
      if (this.validateEmail(item.Correo))
        window.location.href = "mailto:" + item.Correo + "?subject=Te contacto sobre la adopcion desde rescatandoamigos?body=" + item.Descripcion
      else
        if (this.validURL(item.Correo))
          window.location.href = item.Correo
        else
          window.alert("Hay un error en el enlace, por favor reportar a andreileonsalas@gmail.com");
    },
        /** @vuese
     * Valida que el correo electrónico guardado sea válido
     * 
     * @param email direccion de correo electronico
     * 
     * @returns direcciób del correo electrónico con el formato deseado
     */
    validateEmail(email) {
      const re = /\S+@\S+\.\S+/;
      // console.log(email)
      // console.log(String(email).toLowerCase())
      return re.test(String(email).toLowerCase());
    },
        /** @vuese
     * Verifica que el string ingresado compla con el patron generado
     * 
     * @param str cadena de texto a ser verificada
     * 
     * @returns resultado después de revisar el string con el patrón
     * 
     */
    validURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
      '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
      '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
      '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
      '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
      '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(str);
    },
    /** @vuese
     * Verifica que el usuario actual tenga la propiedad de administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws nada
     */
    revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email; 
      this.verificarAdmin();
    },
    /** @vuese
     * Verifica que el usuario actual cumpla con los requisitros para ejecutar opciones de administrador
     * Redirige al usuario en caso de que no sea administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws alerta en caso de no ser adminstrador
     */
    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach(res => {
          
          if (res.data().admin) {
            console.log('entramos')
            console.log(this.$refs.deleteButtonRefs)
            let els = this.$refs.deleteButtonRefs
            console.log(els)
            Array.from(els).forEach((el) => {
                // Do stuff here
                el.$el.style.display = "flex";
            });
            //document.getElementById('deleteButton').style.display = "";
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
        /** @vuese
     * Borra la publicacion con el id recibido como parametro
     * 
     * @param id el id del post a borrar
     * @returns no devuelve nada
     * 
     * @throws alerta en caso de no ser adminstrador
     */
    deletee(id) {
      dba.collection("posts")
        .doc(id)
        .delete()
        .then(() => {
          alert('Posteo eliminado')
          console.log("Document successfully deleted!");
        })
        .catch((error) => {
          console.error("Error removing document: ", error);
        });

    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
