<template>
  <div class="q-pa-md" align="center">
    <q-card class="my-card" align="center" v-for="item in task" v-bind:key="item.id">
      <img :src="item.Foto" />
      <q-card-section>
        <img :src="'icons/logo3.png'" height="250" />
      </q-card-section>
      <q-card-section>
        <q-input
          id="name"
          type="name"
          v-model="item.Nombre"
          placeholder="Nombre Completo"
          filled
        />
      </q-card-section>
      <q-card-section>
        <q-input
          id="Identificador"
          type="Identificador"
          :disable="true"
          v-model="item.Identificador"
          placeholder="Nombre para ser identificado"
          filled
        />
      </q-card-section>
      <q-card-section>
        <q-input
          id="correo"
          type="email"
          v-model="item.email"
          :disable="true"
          placeholder="Correo Electrónico"
          filled
        />
      </q-card-section>
      <q-card-section>
        <q-input
          id="telefono"
          type="telefono"
          v-model="item.Telefono"
          placeholder="Teléfono"
          filled
        />
      </q-card-section>
      <q-card-section>
        <q-input
          id="ubicacion"
          type="ubicacion"
          v-model="item.Ubicacion"
          placeholder="Ubicación"
          filled
        />
      </q-card-section>
      <q-item>
        <q-radio v-model="item.admin" :val="true" label="Es administrador" />
        <q-radio v-model="item.admin" :val="false" label="No es administrador" />
      </q-item>
      <q-card-actions align="center">
        <q-btn color="primary" @click="actualizarInformacion()">
          Confirmar Cambios
        </q-btn>
      </q-card-actions>
    </q-card>

    <div id="app"></div>
  </div>
</template>

<script>
import firebase from "firebase";
import { mapActions } from "vuex";
import { dba } from "boot/firebase";
export default {
  props: ["userid"],
  data() {
    return {
      Nombre: null,
      Identificador: null,
      email: null,
      Telefono: null,
      Ubicacion: null,
      admin: null,
      task: [],
    };
  },

  created() {
    this.listarInfo(); //Popular la Informacion del Post
    //this.actualizarInformacion();
    this.revisarAdmin();
  },

  methods: {
    /** @vuese
     * Modificar un post en la base de datos
     *
     *
     * @param userid es el id del posteo
     * @param info Es el objeto con toda la informacion (nombre, foto, correo, etc)
     *
     * @returns no devuelve nada
     *
     * @throws muestra en consola el error (como cuando no se logro modificar el posteo)
     */
    ...mapActions("auth", ["logoutUser"]),
    async modificar(userid, info) {
      try {
        if (this.Correo == info.email) {
          this.logoutUser();
          var dbmodificada = await dba.collection("InfoPersona");
          dbmodificada.doc(userid).set(info);
          console.log("Modificado");
        }
        else{
        var dbmodificada = await dba.collection("InfoPersona");
        dbmodificada.doc(userid).set(info);
        console.log("Modificado");
        }
      } catch (error) {
        console.log(error);
      }
    },
    /** @vuese
     * Actualiza la informacion del post en la base de datos con los nuevos elementos ingresados por el usuario
     *
     * @returns no devuelve nada
     *
     * @throws en caso de no actualizar correctamente el post, muetra un error en consola
     */
    async actualizarInformacion() {
      try {
        const user = {
          Nombre: this.task[0].Nombre,
          Identificador: this.task[0].Identificador,
          email: this.task[0].email,
          Telefono: this.task[0].Telefono,
          Ubicacion: this.task[0].Ubicacion,
          admin: this.task[0].admin,
        };
        console.log(this.userid), console.log(user);
        this.modificar(this.userid, user);
      } catch (error) {
        console.log(error);
      }
    },

    /** @vuese
     * Popular la Informacion del Post
     * Muestra la Informacion Del post seleccionado
     *
     * @param No
     *
     * @returns no devuelve nada
     *
     * @throws muestra en consola el error (como cuando no se logro cargar la informacion)
     */

    async listarInfo() {
      try {
        console.log(this.userid);
        const resDB = await dba.collection("InfoPersona").doc(this.userid).get();
        const user = {
          Nombre: resDB.data().Nombre,
          Identificador: resDB.data().Identificador,
          email: resDB.data().email,
          Telefono: resDB.data().Telefono,
          Ubicacion: resDB.data().Ubicacion,
          admin: resDB.data().admin,
        };
        console.log(user);
        this.task.push(user);
      } catch (error) {
        console.log(error);
      }
    },
    showNotification() {
      this.$q.notify("Some other message");
    },
    /** @vuese
     * Verifica que el string ingresado compla con el patron generado
     *
     * @param str cadena de texto a ser verificada
     *
     * @returns resultado después de revisar el string con el patrón
     *
     */
    validURL(str) {
      var pattern = new RegExp(
        "^(https?:\\/\\/)?" + // protocol
          "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
          "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
          "(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*" + // port and path
          "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
          "(\\#[-a-z\\d_]*)?$",
        "i"
      ); // fragment locator
      return !!pattern.test(str);
    },
    /** @vuese
     * Verifica que el usuario actual tenga la propiedad de administrador
     *
     * @returns no devuelve nada
     *
     * @throws nada
     */
    revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email;
      this.verificarAdmin();
    },
    /** @vuese
     * Verifica que el usuario actual cumpla con los requisitros para ejecutar opciones de administrador
     * Redirige al usuario en caso de que no sea administrador
     *
     * @returns no devuelve nada
     *
     * @throws alerta en caso de no ser adminstrador
     */
    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach((res) => {
          if (!res.data().admin) {
            alert("usted no es administrador, sera redirigido");
            this.$router.push("/Perfil");
            //$router.replace('/Perfil/')
          }
        });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
