<template>
  <div class="q-pa-md" align="center">
    <q-card
      class="my-card"
      align="center"
      v-for="item in task"
      v-bind:key="item.Correo"
    >
      <img :src="item.Foto" />

      <q-card-section>
        <q-input align = Center model="Nombre" clearable filled color="purple-12" v-model="item.Nombre" label="Nombre:" lazy-rules :rules="[
          val => (val !== null && val !== '') || 'Please type your name',
        ]" />
      </q-card-section>

      <q-list
        class="shadow-2 rounded-borders"
        style="max-width: 250px; width: 100%;"
      >
        <q-item>
              <q-radio v-model="Tipo" val="Adopción" label="Adopción" />
              <q-radio v-model="Tipo" val="Perdido" label="Perdido" />
        </q-item>


        <q-item>
          <q-radio v-model="Sexo" val="Masculino" label="Masculino" />
          <q-radio v-model="Sexo" val="Femenino" label="Femenino" />
        </q-item>

        <q-item>
          <q-card-section class="">
            <q-input model="Edad" clearable filled color="purple-12" v-model="item.Edad" label="Edad:" lazy-rules :rules="[
          val => (val !== null && val !== '') || 'Please type your age',
          val => (val > 0 && val < 100) || 'Please type a real age'
        ]" />
          </q-card-section>
        </q-item>
            <q-select v-model="Provincia" :options="options" label="Provincia" :rules="[val => (val && val.length > 0) || 'Please type something']" />
        <q-item>
          <q-card-section class="q-pt-none">
            <q-input model="Usuario" clearable filled color="purple-12" :disable="true" v-model="item.Identificador" label="Usuario:" lazy-rules :rules="[
          val => (val !== null && val !== '') || 'Please type the user'
        ]" />
          </q-card-section>
        </q-item>

        <q-item>
          <q-card-section class="q-pt-none">
            <q-input clearable filled type="textarea" color="purple-12" v-model="item.Descripcion" label="Descripción:" :rules="[val => (val && val.length > 0) || 'Please type something']" />
          </q-card-section>
        </q-item>


      </q-list>

      <q-card-actions align="center">
        <q-btn  color="primary" @click="actualizarInformacion()"> Confirmar Cambios </q-btn>
      </q-card-actions>
    </q-card>
    


    <div id="app"></div>
  </div>
</template>

<script>
import firebase from "firebase";

import { dba } from "../boot/firebase";
export default {
  props: ["postid"],
    data() {
      return {
        Nombre: null,
        Foto: null,
        Correo: null,
        Tipo: "Adopción",
        Provincia: null,
        Descripcion: null,
        Latitud: null,
        Longitud: null,
        Sexo: 'Masculino',
        Edad: null,
        Identificador : 'Default',
        options: [
          "San José",
          "Alajuela",
          "Cartago",
          "Heredia",
          "Guanacaste",
          "Puntarenas",
          "Limón"
        ],
      task: []
    };
  },


  created() {
    //Popular la Informacion del Post
    this.listarInfo();            
    //revisa si se es admin o no
    this.revisarAdmin();
  },

  methods: {
    /** @vuese
     * Modificar un post en la base de datos
     *
     * @arg postid (el id del post), info (el objeto a utilizar)
     * @param postid es el id del posteo
     * @param info Es el objeto con toda la informacion (nombre, foto, correo, etc)
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error (como cuando no se logro modificar el posteo)
     */
    async modificar(postid, info) {
      try {
        var dbmodificada = await dba.collection("posts");
        dbmodificada.doc(postid).set(info)
      } catch (error) {
        console.log(error);
      }
    },
    /** @vuese
     * Actualiza la informacion del post en la base de datos con los nuevos elementos ingresados por el usuario
     * 
     * @returns no devuelve nada
     * 
     * @throws en caso de no actualizar correctamente el post, muetra un error en consola
     */
    async actualizarInformacion() {
      try {
        var date = Date.now();
        const post = {
          Nombre: this.task[0].Nombre,
          Foto: this.task[0].Foto,
          Correo: this.task[0].Correo,
          Tipo: this.Tipo,
          Descripcion: this.task[0].Descripcion,
          Sexo: this.Sexo,
          Edad: this.task[0].Edad,
          FechadePublicacion: date,
          Provincia: this.Provincia,
          Identificador: this.task[0].Identificador,
        };
        console.log(this.postid),
        console.log(post),
        this.modificar(this.postid,post)
      } catch (error) {
        console.log(error);
      }
    },


    /** @vuese
     * Popular la Informacion del Post
     * Muestra la Informacion Del post seleccionado
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error (como cuando no se logro cargar la informacion)
     */

    async listarInfo() {
      try {
        //console.log(this.postid);
        const resDB = await dba
          .collection("posts")
          .doc(this.postid)
          .get();
        console.log(resDB.data());
        var date = new Date(resDB.data().FechadePublicacion);
        const posts = {
          Nombre: resDB.data().Nombre,
          Foto: resDB.data().Foto,
          Correo: resDB.data().Correo,
          Tipo: resDB.data().Tipo,
          Descripcion: resDB.data().Descripcion,
          Sexo: resDB.data().Sexo,
          Edad: resDB.data().Edad,
          FechadePublicacion: date,
          Provincia: resDB.data().Provincia,
          Identificador: resDB.data().Identificador
        };
        // por alguna razon, estos 3 estan linkeados a una variable, y no a task[0].variable. Hay que arreglar eso.
        this.Provincia = resDB.data().Provincia;
        this.Tipo = resDB.data().Tipo;
        this.Sexo = resDB.data().Sexo;

        this.task.push(posts);
      } catch (error) {
        console.log(error);
      }
    },
        showNotification () {
      this.$q.notify('Some other message')
    },
    /** @vuese
     * Genera una plantilla de correo para contactar con la persona que hizo la publicacion
     * 
     * @param item objeto con la informacion de la publicacion
     * 
     * @returns no devuelve naada
     * 
     * @throws muestra en consola un error en caso de que el enlace no funcione correctamente, ademas de el correo de el dueño de la publicacion
     */
    gotopage(item){
      if (this.validateEmail(item.Correo))
        window.location.href = "mailto:" + item.Correo + "?subject=Te contacto sobre la adopcion desde rescatandoamigos?body=" + item.Descripcion
      else
        if (this.validURL(item.Correo))
          window.location.href = item.Correo
        else
          window.alert("Hay un error en el enlace, por favor reportar a andreileonsalas@gmail.com");
    },
    /** @vuese
     * Valida que el correo electrónico guardado sea válido
     * 
     * @param email direccion de correo electronico
     * 
     * @returns direcciób del correo electrónico con el formato deseado
     */
    validateEmail(email) {
      const re = /\S+@\S+\.\S+/;
      // console.log(email)
      // console.log(String(email).toLowerCase())
      return re.test(String(email).toLowerCase());
    },
    /** @vuese
     * Verifica que el string ingresado compla con el patron generado
     * 
     * @param str cadena de texto a ser verificada
     * 
     * @returns resultado después de revisar el string con el patrón
     * 
     */
    validURL(str) {
    var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
      '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
      '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
      '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
      '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
      '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
    return !!pattern.test(str);
  },
      /** @vuese
     * Verifica que el usuario actual tenga la propiedad de administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws nada
     */
  revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email;
      this.verificarAdmin();
    },
    /** @vuese
     * Verifica que el usuario actual cumpla con los requisitros para ejecutar opciones de administrador
     * Redirige al usuario en caso de que no sea administrador
     * 
     * @returns no devuelve nada
     * 
     * @throws alerta en caso de no ser adminstrador
     */
    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach(res => {
          
          if (!res.data().admin) {
            alert('usted no es administrador, sera redirigido')
            this.$router.push("/Perfil")
            //$router.replace('/Perfil/')
          }
        });
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
