<template>
    <div class="q-pa-md" align="center">
      <q-card class="my-card" align="right">

        <q-card-section>
          <img :src="'icons/logo3.png'" height="250"  >
        </q-card-section>

      <q-card-section>
        <div align="left" class="text-h4">{{"Ingresar"}}</div>
      </q-card-section>

      <form @submit.prevent="submitForm">
      <q-card-section>
        <q-input v-model="formData.email" type="email" placeholder="Correo Electrónico" filled />
      </q-card-section>

      <q-card-section>
        <q-input v-model="formData.password" type="password" placeholder="Contraseña" filled />
      </q-card-section>

      <q-card-actions align="center" >
        <q-btn  color="primary" type="submit" >Siguiente CICD</q-btn>
      </q-card-actions>

      <q-card-section>
      <q-card-actions>
            <div >
              <p v-if="loggedIn"> Ya has iniciado Sesion</p>
              <q-btn v-if="loggedIn" @click="logoutUser">Cerrar Sesión</q-btn>
            </div>
      </q-card-actions>
      </q-card-section>


      </form>
          <q-card-section>
          <p>
          ¿Necesitas una cuenta?
          <a href="/#/Registro">Registrarse</a>

          </p>
        </q-card-section>
    </q-card>

    <div id="app"></div>
  </div>
</template>


<script>
  import { mapActions, mapState } from "vuex";
  export default {
    data() {
        return {
        formData: {email: '', password: ''}
        }
    },
    methods:{
    /** @vuese
     * Funcion generica de firebase para hacer login y logout
     *
     *
     */
        ...mapActions('auth', ['loginUser','logoutUser']),
    /** @vuese
     * Funcion generica de firebase para hacer login y logout
     *
     *
     */
        submitForm(){
        //console.log('funciona form');
    /** @vuese
     * Funcion generica de firebase para hacer login y logout
     *
     *
     */
        this.loginUser(this.formData);
        this.$router.push('verPublicaciones');
        }
    },
    computed: {
        ...mapState('auth', ['loggedIn']),
    }
  }
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 600px
</style>

