<template >

     <div class="q-pa-md" align="center">
       <q-card class="my-card" align="center" v-for="item in task" v-bind:key="item.id" >
        <v-gravatar :email= " item.email "  />

      <q-card-section>

        <div align="center" class="text-h4">{{item.Nombre}} </div>
         <div align="center" class="text-h7">{{item.Identificador}} </div>
        <div align="center" class="text-h7">Ubicacion:{{item.Ubicacion}} </div>
        <div align="center" class="text-h7">Telefono:{{item.Telefono}} </div>
        <div align="center" class="text-h7">Correo:{{item.email}} </div>
      </q-card-section>

      <q-card-actions ref="deleteButtonRefs" style="display: none;" align="center">
        <q-btn color="secondary" @click="$router.replace('/editarUsuario/'+ item.id)">Modificar</q-btn>
        <q-btn class="deleteButton" color="red" href="#" @click=" deletee(item.id)">Eliminar </q-btn>
      </q-card-actions>

    </q-card>

    <div id="app">

    </div>
  </div>

</template>

<script>
import {dba} from "boot/firebase"
import firebase from "firebase";

export default {
  data () {
    return {

      task: [


      ]
    }
  },
  created(){
    this.revisarAdmin();
    this.listarInfo();

  },
  updated(){
    this.revisarAdmin();
    console.log('Se ejecuto')

  },
  methods: {
    /** @vuese
     * Muestra la informacion de la publicacion, aunque no recibe como parametro postid, si depende de que exista en las propiedades
     *
     *
     * @param no
     *
     * @returns no devuelve nada
     *
     * @throws muestra en consola el error
     */
    async listarInfo(){
      try {
          const resDB = await dba.collection('InfoPersona').where("email", "!=", this.Correo).get()
          resDB.forEach(res =>{
            console.log(res.id);
              const infoPersona = {
                id: res.id,
                Identificador: res.data().Identificador,
                Nombre: res.data().Nombre ,
                Telefono:res.data().Telefono,
                Ubicacion: res.data().Ubicacion,
                email: res.data().email
                }
                this.task.push(infoPersona)
          })


      }catch (error){
        console .log(error);
      }

    },
    /** @vuese
     * Borra la cuenta segun el id que se recibio como parametro
     *
     * @param id el id del post a borrar
     * @returns no devuelve nada
     *
     * @throws alerta en caso de no ser adminstrador
     */
    deletee(id) {
      dba.collection("InfoPersona")
        .doc(id)
        .delete()
        .then(() => {
          firebase.auth().currentUser.delete()
          console.log("Document successfully deleted!");
        })
        .catch((error) => {
          console.error("Error removing document: ", error);
        });

    },
        /** @vuese
     * Verifica que el usuario actual tenga la propiedad de administrador
     *
     * @returns no devuelve nada
     *
     * @throws nada
     */
    revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email;
      this.verificarAdmin();
    },
    /** @vuese
     * Verifica que el usuario actual cumpla con los requisitros para ejecutar opciones de administrador
     * Redirige al usuario en caso de que no sea administrador
     *
     * @returns no devuelve nada
     *
     * @throws alerta en caso de no ser adminstrador
     */
    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach(res => {

          if (res.data().admin) {
            console.log('entramos')
            console.log(this.$refs.deleteButtonRefs)
            let els = this.$refs.deleteButtonRefs
            console.log(els)
            Array.from(els).forEach((el) => {
                // Do stuff here
                el.$el.style.display = "flex";
            });
            //document.getElementById('deleteButton').style.display = "";
          }
        });
      } catch (error) {
        console.log(error);
      }
    }

  }
}

</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>








