<template >

     <div class="q-pa-md" align="center">
       <q-card class="my-card" align="center" v-for="item in task" v-bind:key="item.email" >
       <q-card class="my-card" align="center"  v-if="item.email===emaill">
       <v-gravatar :email= " item.email "  />
       <q-card-section>
        <div align="center" class="text-h4">{{item.Nombre}} </div>
         <div align="center" class="text-h7">{{item.Identificador}} </div>       
        <div align="center" class="text-h7">Ubicacion:{{item.Ubicacion}} </div>
        <div align="center" class="text-h7">Telefono:{{item.Telefono}} </div>
        <div align="center" class="text-h7">Correo:{{item.email}} </div>
      </q-card-section>
      


</q-card>
      </q-card>
      
    
    <div id="app">

    </div>
  </div>
  
</template>

<script>
import {dba} from "boot/firebase"
import firebase from 'firebase'
export default {
  data () {
    return {
             userId: '',
      name: '',
      emaill: '',
      Ubicacion:'',
      task: [


      ]
    }
  },
  created(){
      var vm = this
      firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        vm.user = user;
        vm.emaill = vm.user.email;
      }
      });

    this.listarInfo();
  },
  methods: {
    async listarInfo(){
      
      try {
        
          const resDB = await dba.collection('InfoPersona').get()
          resDB.forEach(res =>{
            console.log(res.id);
            const infoPersona = {
              id: res.id,
               Identificador: res.data().Identificador,             
              Nombre: res.data().Nombre ,   
              Telefono:res.data().Telefono, 
              Ubicacion: res.data().Ubicacion,
              email: res.data().email
              }
              this.task.push(infoPersona)
          })


      }catch (error){
        console .log(error);
      }
    },


  }
}

</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 450px
</style>
