<template>
  <div>
    
    <div class="q-pa-md">
      <h2>Animales perdidos</h2>
      <q-carousel
        arrows
        animated
        v-model="slideone"
        height="400px"
      >
        <q-carousel-slide v-for="(pet, index) in perdidos" :key="index" :name="index" :img-src="pet.Foto" :id="pet.id">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">{{pet.Nombre}}</div>
            
            <div class="text-subtitle1">{{pet.Correo}}</div>
            <div class="q-pa-md q-gutter-sm">
              <q-btn @click="$router.replace('/detallePublicacion/'+pet.id)" label="Ver más" outline color="info"/>
            </div>
          </div>
        </q-carousel-slide>
      </q-carousel>
    </div>

    <div class="q-pa-md">
      <h2>Animales para adoptar</h2>
      <q-carousel
        arrows
        animated
        v-model="slidestwo"
        height="400px"
      >
      <q-carousel-slide v-for="(pet, index) in adoptados" :key="index" :name="index" :img-src="pet.Foto" :id="pet.id">
          <div class="absolute-bottom custom-caption">
            <div class="text-h2">{{pet.Nombre}}</div>
            
            <div class="text-subtitle1">{{pet.Correo}}</div>
            <div class="q-pa-md q-gutter-sm">
              <q-btn @click="$router.replace('/detallePublicacion/'+pet.id)" label="Ver más" outline color="info"/>
            </div>
          </div>
        </q-carousel-slide>
      </q-carousel>
        
    </div>
    
    
  </div>

</template>

<script>
import { dba } from "../boot/firebase";
import firebase from "firebase";
export default {
  data () {
    return {
      slideone: 0,
      slidestwo: 0,
      perdidos: 
      [],
      adoptados: 
      [],
    }
  },
  created() {
    this.listarAdoptados();
    this.listarPerdidos();
  },
  methods: {
        /** @vuese
     * Inicializa parametros
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error (como cuando no se logro cargar la informacion)
     */
    loadData() {
      const data = {
        name: this.name,
        age: this.age,
        accept: this.accept,
      }
      this.getData()

    },
        /** @vuese
     * Lista a todos los animales segun el tipo
     * 
     * 
     * @param No
     * 
     * @returns no devuelve nada
     * 
     * @throws muestra en consola el error (como cuando no se logro cargar la informacion)
     */
    async listarAdoptados(){
      try {
          console.log(this.postid)
          const posteos = await dba.collection('posts')
          const adoptados = await posteos.where('Tipo','==','Adopción').get();
          
          if (adoptados.empty) {
            console.log('No matching documents.');
            return;
          }
          adoptados.forEach(doc => {
            console.log(doc.id, '=>', doc.data());
          });
          console.log(adoptados)
          adoptados.forEach(res =>{
            console.log(res.id);
            const posts = {
              id: res.id,
              Nombre: res.data().Nombre ,   
              Descripcion:res.data().Descripcion, 
              Provincia: res.data().Provincia,
              Tipo: res.data().Tipo,
              Foto: res.data().Foto,
              Correo: res.data().Correo,
              Fecha: res.data().FechaPublicacion,

              }
              console.log(posts)
              this.adoptados.push(posts)
          })


      }catch (error){
        console .log(error);
      }
    },
    async listarPerdidos(){
      try {
          console.log(this.postid)
          const posteos = await dba.collection('posts')
          const adoptados = await posteos.where('Tipo','==','Perdido').get();
          if (adoptados.empty) {
            console.log('No matching documents.');
            return;
          }
          adoptados.forEach(doc => {
            console.log(doc.id, '=>', doc.data());
          });
          console.log(adoptados)
          adoptados.forEach(res =>{
            console.log(res.id);
            const posts = {
              id: res.id,
              Nombre: res.data().Nombre ,   
              Descripcion:res.data().Descripcion, 
              Ubicacion: res.data().Ubicacion,
              Tipo: res.data().Tipo,
              Foto: res.data().Foto,
              Correo: res.data().Correo,
              Fecha: res.data().FechaPublicacion,

              }
              console.log(posts)
              this.perdidos.push(posts)
          })


      }catch (error){
        console .log(error);
      }
    },
  }
}
</script>

<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 10px
  color: white
  background-color: rgba(0, 0, 0, .3)
</style>

