<template>
  <q-layout view="lHh Lpr lFf">
    
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Rescatando Amigos
        </q-toolbar-title>

      <!--    <div>Quasar v{{ $q.version }}</div>-->
      </q-toolbar>
        <q-tabs align="left">
        <q-route-tab to="/VerPublicaciones" label="Ver Publicaciones" />  
        <q-route-tab to="/Buscar" label="Buscar Publicación" />
        <q-route-tab to="/CrearPublicacion" label="Crear Publicación" />
         <q-route-tab to="/Perfiles" label="Usuarios" />
        <q-route-tab to="/Perfil" label="Perfil" />
        <q-route-tab to="/auth" label="Login" />
        <q-route-tab to="/admin" label="Admin" id="AdminPanel" style="display: none"/>
  
      </q-tabs>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Enlaces Rapidos
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
      
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'
import firebase from "firebase";
import { dba } from "boot/firebase";

const linksData = [
  {
    title: 'Ver publicaciones',
    caption: 'ver publicaciones',
    icon: 'photos',
    link: '#/VerPublicaciones'
  },
    {
    title: 'Buscar publicación',
    caption: 'Buscar publicacion',
    icon: 'search',
    link: '#/Buscar'
  },
 
    {
    title: 'Crear Publicación',
    caption: 'Crear Publicacion',
    icon: 'code',
    link: '#/CrearPublicacion'
  },
  {
    title: 'Perfil',
    caption: 'Perfil',
    icon: 'person',
    link: '#/Perfil'
  },
   {
    title: 'Usuarios',
    caption: 'Perfiles',
    icon: 'list',
    link: '#/Perfiles'
  },
    {
    title: 'Login',
    caption: 'Login',
    icon: 'person',
    link: '#/auth'
  },
    

  

];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  },
  created() {
    this.revisarAdmin();
  },
    methods: {
    revisarAdmin() {
      var user = firebase.auth().currentUser;
      this.Correo = user.email;
      this.verificarAdmin();
    },

    async verificarAdmin() {
      try {
        //get username
        //const resDBusername = await dba.collection('InfoPersona').get()
        const resDBusername = await dba
          .collection("InfoPersona")
          .where("email", "==", this.Correo)
          .get();
        resDBusername.forEach(res => {
          
          if (res.data().admin) {
            console.log('entramos')
            document.getElementById('AdminPanel').style.display = "";
          }
        });
      } catch (error) {
        console.log(error);
      }
    }
  }
}
</script>

<style>
  @media screen and (max-width: 1025px) {
    #AdminPanel {
      visibility: hidden;
    }
  }
</style>